<div class="fundo-brief" modal>
  <div class="info">
    <h1>Client Brief</h1>
    <div class="conteudo">
      <h2>1 - O que precisa ser feito?</h2>
      <div class="modal">
        <p>{{clienteBrief.entregavel}}</p>
      </div>
    </div>
    
    <div class="conteudo">
      <h2>2 - Com qual objetivo</h2>
      <div class="modal">
        <p><b>Objetivo de vendas: </b>{{clienteBrief.objetivo_vendas}}</p><br>
        <p><b>Objetivo de visibilidade: </b>{{clienteBrief.objetivo_visibilidade}}</p><br>
        <p><b>Objetivo de engajamento: </b>{{clienteBrief.objetivo_engajamento}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>3 - Quais  os kpi dessa ação/campanha?</h2>
      <div class="modal">
        <p><b>Objetivo de vendas: </b>{{clienteBrief.kpi_vendas}}</p><br>
        <p><b>Objetivo de visibilidade: </b>{{clienteBrief.kpi_visibilidade}}</p><br>
        <p><b>Objetivo de engajamento: </b>{{clienteBrief.kpi_engajamento}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>4 - Qual é a principal promessa do produto,serviço ou empresa?</h2>
      <div class="modal">
        <p>{{clienteBrief.promessa}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>5 - Com quem vamos falar?(Dados sócio-demográficos)</h2>
      <div class="modal">
        <p>{{clienteBrief.publico}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>6 - Qual a verba de mídia e produção/on e off?</h2>
      <div class="modal">
        <p>{{clienteBrief.verba}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>7 - Quando deve ser veiculado?</h2>
      <div class="modal">
        <p>De: {{campanha.comeco_campanha}} a {{campanha.final_campanha}}</p>
      </div>
    </div>
  </div>
</div>