<div class="fundo-brief" modal>
  <div class="info">
    <h1>Client Brief</h1>
    <div class="conteudo">
      <h2>1 - Qual o problema a comunicação deve resolver?</h2>
      <div class="modal">
        <p>{{agencyBrief.objetivo}}</p>
      </div>
    </div>
    
    <div class="conteudo">
      <h2>2 - Com quem vamos falar?</h2>
      <div class="modal">
        <p><b>Público de vendas: </b>{{agencyBrief.publico_demografico}}</p><br>
        <p><b>Público de visibilidade: </b>{{agencyBrief.publico_perfil}}</p><br>
        <p><b>Público de engajamento: </b>{{agencyBrief.publico_comportamental}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>3 - Qual insight pode inspirar a comunicação?</h2>
      <div class="modal">
        <p>{{agencyBrief.insight}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>4 - Qual é a principal mensagem/território?</h2>
      <div class="modal">
        <p>{{agencyBrief.mensagem}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>5 - Por que acreditar nessa mensagem/pilares que sustentam o território?</h2>
      <div class="modal">
        <p>{{agencyBrief.pilares}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>6 - O que é preciso criar?</h2>
      <div class="modal">
        <p>{{agencyBrief.entregaveis}}</p>
      </div>
    </div>

    <div class="conteudo">
      <h2>7 - Informações relevantes</h2>
      <div class="modal">
        <p>{{agencyBrief.informacoes}}</p>
      </div>
    </div>
    <div class="conteudo">
      <h2>8 - Mandatório</h2>
      <div class="modal">
        <p>{{agencyBrief.mandatorio}}</p>
      </div>
    </div>    
  </div>
</div>